/*
===================
== ELEMENTS CODE ==
===================
*/
body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 32px;
}
a {
  color: #000000;
}
a:hover {
  color: #bebebe;
}
nav.mobile_navigation {
  display: none;
  width: 100%;
}
header.top_header {
  display: flex;
  min-height: 140px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}
header.top_header .logo a {
  display: inline-block;
}
header.top_header .logo h1 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.335em;
  font-weight: 700;
}
header.top_header .logo h1 a {
  color: inherit;
}
header.top_header .mobilemenu {
  display: none;
}
header.top_header nav {
  z-index: 99;
}
header.top_header nav .mobile_icon {
  width: 20px;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  display: none;
  font-size: 20px;
}
header.top_header nav .mobile_icon .fa-bars {
  display: block;
}
header.top_header nav .mobile_icon .fa-times {
  display: none;
}
header.top_header nav .mobile_icon i {
  display: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header.top_header nav .mobile_icon i:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header.top_header nav ul {
  font-size: 0;
}
header.top_header nav ul li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 23px;
  position: relative;
}
header.top_header nav ul li:hover .sub-menu {
  display: block;
}
header.top_header nav ul li .sub-menu {
  margin-left: -40px;
  padding: 20px 40px 20px 20px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f8f8f8;
}
header.top_header nav ul li .sub-menu li {
  white-space: nowrap;
  padding-right: 10px;
}
header.top_header nav ul li .sub-menu li:hover .sub-menu {
  display: block;
}
header.top_header nav ul li .sub-menu li .sub-menu {
  background: #ececec;
  display: none;
  top: 0;
  left: 100%;
  margin-left: 0;
}
header.top_header nav ul li.current-menu-item > a::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
header.top_header nav ul li a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
  outline: none;
}
header.top_header nav ul li a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
header.top_header nav ul li a:hover::after,
header.top_header nav ul li a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
header.top_header .social_links {
  font-size: 16px;
}
header.top_header .social_links a {
  margin-left: 20px;
}
footer.bottom_footer {
  display: flex;
  min-height: 130px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
}
footer.bottom_footer .copyrights {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
footer.bottom_footer .footer_info {
  font-size: 12px;
  letter-spacing: 0.05em;
}
footer.bottom_footer .footer_info .call_label,
footer.bottom_footer .footer_info .email_label {
  text-transform: uppercase;
  padding-right: 5px;
}
footer.bottom_footer .footer_info .phone_container {
  display: inline-block;
}
footer.bottom_footer .footer_info .email_container {
  display: inline-block;
  margin-left: 50px;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
p {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.ale_main_container .ale_container .enforcement_heading {
  width: 100%;
  height: 800px;
}
.ale_main_container .ale_container .enforcement_heading .page_title_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.ale_main_container .ale_container .enforcement_heading .enforcement_page_title {
  background: #FFF;
  width: 96%;
  max-width: 1300px;
  text-align: center;
  border-bottom: 1px solid #000000;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ale_main_container .ale_container .enforcement_heading .enforcement_page_title h2 {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 25px;
}
.ale_main_container .ale_container .enforcement_heading .enforcement_page_title span.pretitle {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
.page_content {
  background: #FFF;
  margin-top: -100px;
  z-index: 9;
  margin-bottom: 60px;
}
.page_content .title_container {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #000000;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.page_content .title_container h2.page_title {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  margin-bottom: 25px;
}
.page_content .title_container .sub_title {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-style: italic;
  font-weight: 400;
}
.page_content .the_content {
  padding: 20px;
  margin-bottom: 100px;
}
.parallax_box {
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
}
.contact_boxes {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px;
}
.contact_boxes .details_box {
  width: 25%;
  box-sizing: border-box;
}
.contact_boxes .details_box h3 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 55px;
  font-weight: 600;
}
.contact_boxes .details_box .detailstext {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  margin-bottom: 70px;
}
.contact_boxes .details_box .detailssocial {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.contact_boxes .details_box .social_links a {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
.contact_boxes .contact_form_box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 7%;
}
.contact_boxes .contact_form_box h3 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600;
}
.contact_boxes .address_box {
  width: 25%;
  box-sizing: border-box;
}
.contact_boxes .address_box h3 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 55px;
  font-weight: 600;
}
.contact_boxes .address_box .addresstext {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  padding: 0 15%;
  margin-bottom: 70px;
}
.contact_boxes .address_box .phoneone {
  display: block;
  font-size: 16px;
  line-height: 28px;
}
.contact_boxes .address_box .phonetwo {
  display: block;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 45px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #52616b;
  margin-bottom: 10px;
  letter-spacing: 0.15em;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
textarea {
  width: 100%;
  height: 60px;
  padding-top: 20px;
  border: 0;
  border-bottom: 1px solid #52616b;
  margin-bottom: 10px;
  letter-spacing: 0.15em;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
}
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
input[type="submit"] {
  background: #000;
  color: #FFF;
  font-size: 14px;
  margin-top: 30px;
  height: 50px;
  letter-spacing: 0.15em;
  padding-right: 60px;
  padding-left: 60px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.about_content {
  column-count: 2;
  column-gap: 70px;
  column-rule: 1px solid #52616b;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 150px;
}
.rotate {
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.team_section h3 {
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;
}
.team_section .team_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team_section .team_list .team_item {
  width: 31.3%;
  margin-bottom: 100px;
  position: relative;
}
.team_section .team_list .team_item:hover .image_holder .mask_hover {
  bottom: 20px;
  top: 20px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.team_section .team_list .team_item .image_holder {
  position: relative;
  overflow: hidden;
}
.team_section .team_list .team_item .image_holder .mask_hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  bottom: 100%;
  right: 75px;
  top: -120px;
  left: 20px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team_section .team_list .team_item .image_holder .mask_hover .social_l {
  width: 100%;
  text-align: center;
}
.team_section .team_list .team_item .image_holder .mask_hover .social_l::after {
  width: 80px;
  height: 1px;
  background: #000;
  content: "";
  display: block;
  margin: 15px auto 0;
}
.team_section .team_list .team_item .image_holder .mask_hover a {
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 13px;
  display: inline-block;
}
.team_section .team_list .team_item .image_holder img {
  width: 100%;
  height: auto;
}
.team_section .team_list .team_item .text_holder {
  width: 100%;
  display: inline-block;
  background: #FFF;
  transform-origin: left top;
  position: absolute;
  left: 100%;
  margin-left: -55px;
  height: 55px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.team_section .team_list .team_item .text_holder h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.team_section .team_list .team_item .text_holder .team_occupation {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  letter-spacing: 0.2em;
  display: block;
}
.wpb_map_wraper iframe {
  width: 1300px!important;
}
.page_heading .no_header_image {
  min-height: 250px;
  background: #bebebe;
}
.comments {
  width: 100%;
}
.related_list {
  display: flex;
  justify-content: space-between;
}
.blog_posts_archive,
.ale_blog_archive {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog_posts_archive .post .image_holder,
.ale_blog_archive .post .image_holder {
  text-align: center;
}
.blog_posts_archive .post_item,
.ale_blog_archive .post_item {
  width: calc(33.33333% - 45px);
  padding-bottom: 80px;
}
.blog_posts_archive .post_item .image_holder,
.ale_blog_archive .post_item .image_holder {
  text-align: center;
}
.blog_posts_archive .post_item img,
.ale_blog_archive .post_item img {
  max-width: 100%;
  height: auto;
}
.blog_posts_archive .post_item h3.post_title,
.ale_blog_archive .post_item h3.post_title {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 28px;
  letter-spacing: 0.05em;
  color: #000;
  line-height: 30px;
  text-align: center;
}
.blog_posts_archive .post_item .post_info,
.ale_blog_archive .post_item .post_info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.blog_posts_archive .post_item .post_info .separator,
.ale_blog_archive .post_item .post_info .separator {
  font-size: 6px;
  margin-right: 13px;
  margin-left: 13px;
}
.blog_posts_archive .post_item .post_info a,
.ale_blog_archive .post_item .post_info a {
  color: inherit;
}
.blog_posts_archive .post_item a,
.ale_blog_archive .post_item a {
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.blog_posts_archive .post_item a:hover,
.ale_blog_archive .post_item a:hover {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.blog_posts_archive .vertical_separator,
.ale_blog_archive .vertical_separator {
  width: 1px;
  height: 100%;
  background: #dcdfe1;
}
.blog_posts_archive .separator_boxes,
.ale_blog_archive .separator_boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #dcdfe1;
  border-bottom: 1px solid #dcdfe1;
  margin-bottom: 80px;
}
.blog_posts_archive .separator_boxes .post_item,
.ale_blog_archive .separator_boxes .post_item {
  width: calc(50% - 40px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.blog_posts_archive .separator_boxes .post_item img,
.ale_blog_archive .separator_boxes .post_item img {
  max-width: 100%;
  height: auto;
}
.enforcement_simple_pagination {
  text-align: center;
  color: #bebebe;
}
.enforcement_simple_pagination a {
  color: #000000;
}
form.search #searchsubmit {
  border: 0;
}
.single_post .story p {
  line-height: 28px;
  margin-bottom: 40px;
}
.story .post_info_line::before {
  display: none;
}
.story .post_info_line {
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.15em;
}
.story .post_title {
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 28px;
  letter-spacing: 0.05em;
  color: #000;
  line-height: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}
.comments_container .comments_title {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 75px;
}
.comments_container .comment-item {
  margin-bottom: 80px;
}
.comments_container .comment-item .commenter-avatar {
  width: 130px!important;
  height: 130px!important;
  float: left;
}
.comments_container .comment-item .commenter-avatar img {
  width: 130px!important;
  height: 130px!important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments_container .comment-item .comment-box {
  margin-left: 170px;
}
.comments_container .comment-item .comment-box .author {
  text-transform: uppercase;
  display: block;
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 20px;
  letter-spacing: 0.15em;
}
.comments_container .comment-item .comment-box .date_reply_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.comments_container .comment-item .comment-box .info-content p:last-child {
  margin-bottom: 0;
}
.comments_container .second-level {
  margin-left: 100px;
}
.comment-reply-title {
  font-size: 28px;
  text-transform: uppercase!important;
  letter-spacing: 0.05em;
}
.comment-reply-title small {
  font-size: 12px;
  text-transform: none;
}
.related_posts_box h3.related_title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 75px;
  line-height: 28px;
  font-weight: 600;
}
.comment-form .comment-notes,
.comment-form .comment-form-comment,
.comment-form .form-submit {
  width: 100%;
}
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  width: calc(33.3% - 20px);
}
.comment-form .form-submit {
  text-align: right;
}
.comment-form .form-submit input {
  width: calc(33.3% - 20px);
}
.sidebar_container .widget {
  margin-bottom: 55px;
}
.sidebar_container .widget ul ul {
  margin-left: 10px;
}
.sidebar_container .widget select {
  max-width: 100%;
}
.sidebar_container .widget #wp-calendar {
  width: 100%;
}
.sidebar_container .widget img {
  max-width: 100%;
  height: auto;
}
.sidebar_container .widget .widget_title {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}
.sidebar_container .enforcement_blog_widget .blog_container_widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sidebar_container .enforcement_blog_widget .blog_container_widget a {
  display: block;
  background: #f5f5f5;
  width: calc(33.333% - 3px);
  margin-bottom: 4px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.sidebar_container .enforcement_blog_widget .blog_container_widget a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget {
  text-align: center;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget img {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget h4.name {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget .text {
  font-size: 16px;
  line-height: 28px;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget .text p {
  text-align: center;
}
.sidebar_container .enforcement_about_widget .enforcement-about-widget .text p:last-child {
  margin-bottom: 0;
}
.sidebar_container form.mc4wp-form p {
  margin: 0;
}
.sidebar_container form.mc4wp-form input[type="text"],
.sidebar_container form.mc4wp-form input[type="email"] {
  margin-bottom: 15px;
  border: none;
  border: 1px solid #000000;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding-left: 15px;
  box-sizing: border-box;
}
.sidebar_container form.mc4wp-form input[type="text"]::-webkit-input-placeholder,
.sidebar_container form.mc4wp-form input[type="email"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bebebe;
}
.sidebar_container form.mc4wp-form input[type="text"]::-moz-placeholder,
.sidebar_container form.mc4wp-form input[type="email"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #bebebe;
}
.sidebar_container form.mc4wp-form input[type="text"]:-ms-input-placeholder,
.sidebar_container form.mc4wp-form input[type="email"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #bebebe;
}
.sidebar_container form.mc4wp-form input[type="text"]:-moz-placeholder,
.sidebar_container form.mc4wp-form input[type="email"]:-moz-placeholder {
  /* Firefox 18- */
  color: #bebebe;
}
.sidebar_container form.mc4wp-form input[type="submit"] {
  margin: 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.05em;
}
form.search fieldset {
  position: relative;
}
form.search .searchinput {
  padding-right: 40px;
}
form.search #searchsubmit {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 10px 0 0;
  padding: 0;
  color: #000;
  background-color: transparent;
}
form.search #searchsubmit:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
}
.portfolio_list .portfolio_item {
  width: calc(33.3333% - 23px);
  margin-bottom: 35px;
}
.portfolio_list .portfolio_item figure {
  position: relative;
  overflow: hidden;
}
.portfolio_list .portfolio_item figure:hover figcaption {
  bottom: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.portfolio_list .portfolio_item figure figcaption {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
.portfolio_list .portfolio_item figure figcaption h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 14px;
  margin-bottom: 10px;
}
.portfolio_list .portfolio_item figure figcaption h3 a {
  color: inherit;
}
.portfolio_list .portfolio_item figure figcaption h3 a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
}
.portfolio_list .portfolio_item figure figcaption span.category {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  letter-spacing: 0.1em;
}
.portfolio_list .portfolio_item img {
  max-width: 100%;
  height: auto;
}
.columns_content {
  column-count: 2;
  column-gap: 70px;
  column-rule: 1px solid #52616b;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 100px;
}
.enforcement_product {
  margin-bottom: 80px!important;
  text-align: center;
}
.enforcement_product .product_mask {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.enforcement_product .product_mask img {
  max-width: 100%!important;
  height: auto!important;
  margin-bottom: 0!important;
}
.enforcement_product .product_mask:hover .the_mask {
  bottom: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.enforcement_product .product_mask .the_mask {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.55);
}
.enforcement_product .product_mask .the_mask .button,
.enforcement_product .product_mask .the_mask .added_to_cart {
  margin: 0 5px!important;
  padding: 0 20px!important;
  background: transparent!important;
  border-radius: 0!important;
  border: 0!important;
  color: #FFF !important;
  font-size: 14px!important;
  font-weight: 700!important;
  letter-spacing: 0.15em;
  text-transform: uppercase!important;
  border-top: 1px solid #b9b9b9 !important;
  border-bottom: 1px solid #9e9e9e !important;
  line-height: 40px!important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.enforcement_product .product_mask .the_mask .button.loading::after,
.enforcement_product .product_mask .the_mask .added_to_cart.loading::after {
  display: none;
}
.enforcement_product .product_mask .the_mask .button:hover,
.enforcement_product .product_mask .the_mask .added_to_cart:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.enforcement_product span.price {
  display: block;
  text-align: center;
  font-size: 14px!important;
  line-height: 14px;
  letter-spacing: 0.15em;
  color: #000 !important;
  margin-bottom: 0!important;
}
.enforcement_product span.price del {
  display: inline-block !important;
}
.enforcement_product span.price ins {
  text-decoration: none!important;
  font-weight: 400!important;
}
.enforcement_product h2.woocommerce-loop-product__title {
  display: inline-block;
  padding: 0!important;
  margin: 0!important;
  font-size: 28px!important;
  line-height: 28px!important;
  text-transform: uppercase!important;
  letter-spacing: 0.05em !important;
}
.enforcement_product > .woocommerce-loop-product__link {
  display: inline-block;
  margin-top: 30px;
}
.single_shop_page .woocommerce-Price-amount,
.single_shop_page p.price {
  font-size: 18px!important;
  line-height: 18px!important;
  color: #000 !important;
  letter-spacing: 0.15em !important;
  margin-bottom: 25px!important;
}
.single_shop_page h1.product_title {
  font-size: 32px!important;
  line-height: 32px!important;
  margin: 0!important;
  padding: 0!important;
  text-transform: uppercase!important;
  letter-spacing: 0.05em !important;
  margin-bottom: 40px!important;
  display: inline-block;
}
.single_shop_page .woocommerce-product-details__short-description p {
  line-height: 32px;
  margin-bottom: 50px;
}
.single_shop_page .product_meta {
  color: #bebebe;
  font-size: 16px;
  letter-spacing: 0.15em;
}
.single_shop_page .product_meta a:hover {
  color: #bebebe !important;
}
.single_shop_page .product_meta span.sku_wrapper {
  display: block;
}
.single_shop_page .product_meta span.sku_wrapper span,
.single_shop_page .product_meta span.sku_wrapper a {
  color: #000;
}
.single_shop_page .product_meta span.posted_in {
  display: block;
}
.single_shop_page .product_meta span.posted_in span,
.single_shop_page .product_meta span.posted_in a {
  color: #000;
}
.single_shop_page .product_meta span.tagged_as {
  display: block;
}
.single_shop_page .product_meta span.tagged_as span,
.single_shop_page .product_meta span.tagged_as a {
  color: #000;
}
.single_shop_page form.variations_form .variations .label,
.single_shop_page form.cart .variations .label {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.single_shop_page form.variations_form .variations .label label,
.single_shop_page form.cart .variations .label label {
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400!important;
}
.single_shop_page form.variations_form .variations .value,
.single_shop_page form.cart .variations .value {
  text-align: right;
}
.single_shop_page form.variations_form .variations .value > div,
.single_shop_page form.cart .variations .value > div {
  text-align: left;
  display: flex;
  height: 46px;
  align-items: center;
}
.single_shop_page form.variations_form .variations .value > div label,
.single_shop_page form.cart .variations .value > div label {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400!important;
  letter-spacing: 0.2em;
  flex-grow: 1;
}
.single_shop_page form.variations_form .variations .value > div label .radio_item_variation,
.single_shop_page form.cart .variations .value > div label .radio_item_variation {
  width: 100%;
  display: flex;
}
.single_shop_page form.variations_form .variations .value > div label .radio_item_variation .name,
.single_shop_page form.cart .variations .value > div label .radio_item_variation .name {
  width: 20%;
}
.single_shop_page form.variations_form .variations .value > div label .radio_item_variation .description,
.single_shop_page form.cart .variations .value > div label .radio_item_variation .description {
  width: 60%;
  color: #bebebe;
}
.single_shop_page form.variations_form .variations .value > div label .radio_item_variation .the_price,
.single_shop_page form.cart .variations .value > div label .radio_item_variation .the_price {
  width: 20%;
  text-align: right;
}
.single_shop_page form.variations_form .variations .value > div label .radio_item_variation .the_price .woocommerce-Price-amount,
.single_shop_page form.cart .variations .value > div label .radio_item_variation .the_price .woocommerce-Price-amount {
  font-size: 14px!important;
  line-height: 14px!important;
  margin: 0!important;
  letter-spacing: 0.2em !important;
}
.single_shop_page form.variations_form .woocommerce-variation,
.single_shop_page form.cart .woocommerce-variation {
  margin-bottom: 20px;
  text-align: right;
}
.single_shop_page form.variations_form .woocommerce-variation span.price,
.single_shop_page form.cart .woocommerce-variation span.price {
  color: #000 !important;
  font-size: 14px!important;
  font-weight: 400!important;
}
.single_shop_page form.variations_form .woocommerce-variation span.price ins,
.single_shop_page form.cart .woocommerce-variation span.price ins {
  font-weight: 400!important;
  text-decoration: none;
}
.single_shop_page form.variations_form div.quantity,
.single_shop_page form.cart div.quantity {
  margin-right: 20px!important;
}
.single_shop_page form.variations_form input.qty,
.single_shop_page form.cart input.qty {
  height: 46px;
  border: 1px solid #e6e6e6;
  background: #FFF;
  padding: 0 10px;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
.single_shop_page form.variations_form .button,
.single_shop_page form.cart .button {
  border-radius: 0!important;
  background: #000 !important;
  height: 46px!important;
  font-size: 14px!important;
  font-weight: 400!important;
  letter-spacing: 0.15em !important;
  padding: 0 35px!important;
}
.single_shop_page .woocommerce-tabs {
  margin-bottom: 80px;
}
.single_shop_page .woocommerce-tabs ul.tabs {
  margin-bottom: 35px!important;
  padding: 0!important;
}
.single_shop_page .woocommerce-tabs ul.tabs li {
  border: 0!important;
  background: transparent!important;
  border-radius: 0!important;
  padding: 0!important;
}
.single_shop_page .woocommerce-tabs ul.tabs li a {
  color: #000 !important;
  font-size: 14px!important;
  font-weight: 400!important;
  letter-spacing: 0.15em !important;
  padding: 0!important;
  display: inline-block !important;
  padding: 15px 25px!important;
}
.single_shop_page .woocommerce-tabs ul.tabs li:before,
.single_shop_page .woocommerce-tabs ul.tabs li:after {
  display: none;
}
.single_shop_page .woocommerce-tabs ul.tabs li.active {
  border-bottom: 1px solid #000 !important;
}
.single_shop_page .woocommerce-tabs .panel {
  margin-bottom: 0!important;
}
.single_shop_page .woocommerce-tabs .panel h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
}
.single_shop_page .woocommerce-tabs .panel p {
  line-height: 32px;
}
.single_shop_page .woocommerce-tabs .panel .comment-reply-title {
  text-transform: none!important;
  font-size: 16px;
}
.single_shop_page .related,
.single_shop_page .up-sells {
  margin-bottom: -80px;
}
.single_shop_page .related h2,
.single_shop_page .up-sells h2 {
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}
.woocommerce div.product div.images,
.woocommerce div.product div.summary {
  margin-bottom: 80px!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-color: #e6e6e6;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border: 0!important;
  background: #e6e6e6 !important;
  color: #000 !important;
}
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before {
  color: #000 !important;
}
.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
  background: #000 !important;
  color: #FFF !important;
  border-radius: 0!important;
  font-weight: 400!important;
  letter-spacing: 0.15em !important;
  font-size: 14px!important;
  line-height: 18px!important;
  padding-left: 25px!important;
  padding-right: 25px!important;
  text-transform: uppercase!important;
}
.woocommerce-error a.button:hover,
.woocommerce-info a.button:hover,
.woocommerce-message a.button:hover {
  -moz-opacity: 0.7 !important;
  -khtml-opacity: 0.7 !important;
  -webkit-opacity: 0.7 !important;
  opacity: 0.7 !important;
}
.template_page h2.page_title {
  margin-bottom: 0!important;
}
.woocommerce table.shop_table {
  border-collapse: collapse!important;
}
.woocommerce table.shop_table input[type="number"],
.woocommerce table.shop_table input[type="text"] {
  height: 46px;
  border: 1px solid #e6e6e6;
  background: #FFF;
  padding: 0 10px;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
.woocommerce table.shop_table input[type="text"] {
  width: 160px;
  text-align: left;
  letter-spacing: 0.05em;
}
.woocommerce table.shop_table input#coupon_code {
  width: 160px;
}
.woocommerce table.shop_table td {
  padding: 20px!important;
}
.woocommerce a.remove {
  width: auto!important;
  height: auto!important;
  color: #000 !important;
}
.woocommerce a.remove:hover {
  background: transparent!important;
  color: #bebebe !important;
}
.woocommerce-cart .button,
.woocommerce-checkout .button {
  background: #000 !important;
  color: #FFF !important;
  border-radius: 0!important;
  font-weight: 400!important;
  letter-spacing: 0.15em !important;
  font-size: 14px!important;
  line-height: 18px!important;
  padding-left: 25px!important;
  padding-right: 25px!important;
  text-transform: uppercase!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  height: 46px!important;
}
.woocommerce-cart a.button,
.woocommerce-checkout a.button {
  line-height: 46px!important;
}
.woocommerce-cart .woocommerce-cart-form,
.woocommerce-checkout .woocommerce-cart-form {
  margin-bottom: 60px;
}
.woocommerce-cart .shipping-calculator-form p,
.woocommerce-checkout .shipping-calculator-form p {
  margin-bottom: 20px;
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
  width: 100%!important;
  float: none!important;
  margin-bottom: -40px;
}
.woocommerce .cart-collaterals .cross-sells h2,
.woocommerce-page .cart-collaterals .cross-sells h2 {
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%!important;
  float: none!important;
}
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2 {
  font-size: 32px;
  line-height: 32px;
  display: inline-block;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}
form.woocommerce-checkout input[type="text"],
form.woocommerce-checkout input[type="email"],
form.woocommerce-checkout input[type="number"],
form.woocommerce-checkout input[type="tel"],
form.woocommerce-checkout input[type="password"],
form.woocommerce-checkout textarea {
  border: 1px solid #bebebe !important;
}
form.woocommerce-checkout p {
  margin-bottom: 20px!important;
}
form.woocommerce-checkout textarea {
  padding: 10px!important;
  height: 100px!important;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: 0!important;
  padding: 0!important;
}
.wc_payment_methods li {
  list-style: none!important;
}
.home_slider_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.2em;
}
.home_slider_counter .line {
  width: 190px;
  position: relative;
  height: 1px;
  background: #bebebe;
  margin-right: 20px;
  margin-left: 20px;
}
.home_slider_counter .line .bar {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  display: block;
  height: 1px;
  -webkit-transition: all 900ms ease-in-out;
  -moz-transition: all 900ms ease-in-out;
  -ms-transition: all 900ms ease-in-out;
  -o-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}
.home_slider_counter .total {
  color: #bebebe;
}
.home_slider_counter .current {
  color: #000;
}
.sticky_container .sticky {
  width: 100%;
  background: #000;
  color: #FFF;
  text-align: center;
  margin-bottom: 60px;
  padding: 50px;
  box-sizing: border-box;
}
.sticky_container .sticky a {
  color: inherit;
}
.sticky_container .sticky h3.post_title {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 28px;
  letter-spacing: 0.05em;
  line-height: 30px;
  text-align: center;
}
.sticky_container .sticky .post_info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.sticky_container .sticky .post_info .separator {
  font-size: 6px;
  margin-right: 13px;
  margin-left: 13px;
}
.sticky_container .sticky .post_info a {
  color: inherit;
}
.gallery-caption {
  font-size: 16px;
}
.bypostauthor {
  font-size: 16px;
}
.errortemplate {
  text-align: center;
  width: 100%;
  padding: 0 50px 100px 50px;
}
.errortemplate p {
  text-align: center;
}
.post-password-form input[type="password"] {
  max-width: 200px!important;
  margin-left: 15px!important;
  margin-right: 15px!important;
}
.single_featured_image {
  text-align: center;
}
@media (max-width: 1400px) {
  header.top_header nav ul li {
    margin: 0 15px;
  }
  header.top_header nav ul li .sub-menu {
    margin-left: -30px;
    padding-left: 15px;
  }
  .parallax_box {
    min-height: 500px;
  }
  .home_slider .home-one-slider .swiper-wrapper .swiper-slide img {
    max-width: none!important;
    height: 100%!important;
  }
}
@media (max-width: 1024px) {
  .ale_main_container .ale_container .enforcement_heading {
    height: 400px;
  }
  header.top_header {
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  header.top_header nav {
    width: 75%;
    order: 2;
    text-align: left;
  }
  header.top_header nav ul li {
    font-size: 12px;
    margin-left: 0;
  }
  .logo {
    order: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .social_links {
    order: 3;
    width: 25%;
    text-align: right;
  }
  .parallax_box {
    min-height: 400px;
  }
}
@media (max-width: 800px) {
  header.top_header nav .mobile_icon {
    display: flex;
  }
  header.top_header .mobilemenu {
    display: block;
  }
  .social_links,
  header.top_header nav {
    width: 50%;
  }
  header.top_header nav .menu-header {
    display: none;
  }
  nav.mobile_navigation {
    display: none;
    width: 100%;
    background: #000;
    color: #FFF;
  }
  nav.mobile_navigation .menu-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav.mobile_navigation a {
    color: inherit;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 14px;
    text-align: center;
  }
  .single_post_page .content_container {
    width: 60%;
  }
  .single_post_page .sidebar {
    width: 40%;
  }
  footer.bottom_footer {
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
  }
  .page_content .title_container {
    margin-bottom: 50px;
    min-height: 120px;
  }
  .blog_posts_archive .post_item {
    width: 100%;
  }
  .parallax_box {
    min-height: 300px;
  }
  .single_post_page .content_container .related_posts .related_list {
    flex-wrap: wrap;
  }
  .comment-form .form-submit input {
    width: auto;
  }
  .contact_boxes .details_box h3,
  .contact_boxes .contact_form_box h3,
  .contact_boxes .address_box h3 {
    font-size: 18px;
  }
  .contact_boxes .contact_form_box {
    width: 100%;
    order: 3;
    padding-top: 50px;
  }
  .contact_boxes .details_box {
    order: 1;
    width: 50%;
  }
  .contact_boxes .address_box {
    order: 2;
    width: 50%;
  }
  .contact_boxes {
    flex-wrap: wrap;
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: calc(50% - 20px) !important;
    margin-bottom: 40px!important;
  }
  .portfolio_list .portfolio_item figure figcaption h3 {
    font-size: 11px;
  }
  .portfolio_list .portfolio_item figure figcaption span.category {
    font-size: 10px;
  }
  .portfolio_list .portfolio_item figure figcaption {
    padding: 10px;
  }
  .portfolio_single .main_portfolio_image {
    margin-bottom: 50px;
  }
  .columns_content {
    columns: 1;
    margin-bottom: 50px;
  }
  .services_list .service_item {
    width: calc(33.3333% - 23px);
    margin-bottom: 20px;
  }
  .additional_services_list h4.service_title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .additional_services_list .additional_services .item_additional {
    width: calc(33.3333% - 15px);
    margin-bottom: 40px;
  }
  .additional_services_list .additional_services .item_additional .top_line .icon {
    margin-right: 15px;
  }
  .additional_services_list .additional_services .item_additional .top_line h5.title {
    font-size: 16px;
  }
  .additional_services_list .additional_services {
    margin-bottom: 40px;
  }
  .about_content {
    columns: 1;
    margin-bottom: 50px;
  }
  .team_section .team_list .team_item {
    width: 46%;
    margin-bottom: 50px;
  }
  .skills_section .left_info,
  .skills_section .right_info {
    width: calc(50% - 10px);
  }
  .skills_section {
    margin-bottom: 50px;
  }
  .home_slider_counter {
    display: none;
  }
  .home_slider .home-one-slider .swiper-wrapper .first_slider_data {
    min-width: 200px;
    width: 200px;
  }
  .home_slider .home-one-slider .swiper-wrapper .first_slider_data h3.photographer {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .home_slider .home-one-slider .swiper-wrapper .first_slider_data .link_container {
    margin-top: 20px;
  }
  .home_slider .home-one-slider .swiper-wrapper .first_slider_data .link_container a:before {
    width: 20px;
  }
}
@media screen and (max-width: 650px) {
  .ale_main_container .ale_container .enforcement_heading {
    height: 150px;
  }
  .home_slider_counter {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ale_main_container .ale_container .enforcement_heading .enforcement_page_title {
    width: 100%;
  }
  .vc_row.vc_custom_1570864801676 {
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vc_row.vc_custom_1570384329960 .vc_custom_1570517844060 {
    padding-left: 15px!important;
  }
  .vc_row.vc_custom_1570384329960 .vc_custom_1570517796243 {
    padding-right: 15px!important;
  }
  .vc_column-inner.vc_custom_1570452364455 {
    padding-left: 0px!important;
    border: 0!important;
    margin-top: 30px;
    text-align: center!important;
  }
  .vc_column-inner.vc_custom_1570452364455 p {
    text-align: center!important;
  }
  .vc_column-inner.vc_custom_1570452359636 {
    padding-right: 0!important;
    text-align: center!important;
  }
  .vc_column-inner.vc_custom_1570452359636 p {
    text-align: center!important;
  }
}
@media screen and (max-width: 600px) {
  .single_post_page .content_container {
    width: 100%;
  }
  .single_post_page .sidebar {
    width: 100%;
  }
  .single_post_page .sidebar .sidebar_container {
    margin-left: 0;
  }
  .blog_posts_archive .separator_boxes .post_item {
    width: 100%;
    border: 0;
  }
  .blog_posts_archive .vertical_separator {
    display: none;
  }
  .blog_posts_archive .separator_boxes {
    display: block;
  }
  .parallax_box {
    min-height: 200px;
  }
  .comments_container .comment-item .commenter-avatar {
    display: none;
  }
  .comments_container .comment-item .comment-box {
    margin-left: 0;
  }
  .comments_container .second-level {
    margin-left: 40px;
  }
  .comments_container .comment-item {
    margin-bottom: 40px;
  }
  .comments_container .comment-item .comment-box .date_reply_box {
    margin-bottom: 20px;
  }
  .comment-form .comment-form-author,
  .comment-form .comment-form-email,
  .comment-form .comment-form-url {
    width: 100%;
  }
  .columns_content {
    padding: 0;
  }
}
@media (max-width: 500px) {
  footer.bottom_footer .footer_info {
    text-align: center;
  }
  footer.bottom_footer .footer_info .phone_container,
  footer.bottom_footer .footer_info .email_container {
    margin: 0;
    display: block;
  }
  .page_content .title_container h2.page_title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .page_content .title_container .sub_title {
    font-size: 14px;
    line-height: 14px;
  }
  .contact_boxes .details_box {
    width: 100%;
    margin-bottom: 50px;
  }
  .contact_boxes .address_box {
    width: 100%;
  }
  .contact_boxes .details_box .social_links {
    width: 100%;
    text-align: center;
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 100%!important;
  }
  .portfolio_list .portfolio_item {
    width: 100%;
  }
  .portfolio_single .thumbs_portfolio a {
    width: 100%;
  }
  .services_list .service_item {
    width: 100%;
    text-align: center;
  }
  .services_list .service_item p {
    text-align: center;
  }
  .services_list .service_item span.price {
    margin-left: 0;
  }
  .additional_services_list .additional_services .item_additional {
    width: 100%;
    text-align: center;
  }
  .additional_services_list .additional_services .item_additional .top_line {
    min-height: 50px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .additional_services_list .additional_services .item_additional .top_line .icon {
    margin: 0 0 20px 0;
  }
  .team_section .team_list .team_item {
    width: 100%;
  }
  .about_content {
    padding: 0;
  }
  .skills_section {
    flex-wrap: wrap;
  }
  .skills_section .left_info {
    margin-bottom: 50px;
  }
  .skills_section .left_info,
  .skills_section .right_info {
    width: 100%;
  }
  .home_slider .home-one-slider .swiper-wrapper .first_slider_data {
    width: 150px;
    min-width: 150px;
  }
}
.enforcement_second_color {
  color: #bebebe;
}
