.ale_header_brigitte {
  width: 100%;
}
.ale_header_brigitte .mobilemenu {
  display: none;
}
.ale_header_brigitte .content_wrapper {
  width: 100%!important;
  max-width: 100%!important;
}
.ale_header_brigitte .header_flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 170px;
  padding: 0 60px;
}
.ale_header_brigitte .header_flex_box nav.header_nav {
  display: inline-block;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header {
  display: inline-block;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li {
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #181818;
  transition: all 300ms ease-in-out;
  letter-spacing: 0.2em;
  position: relative;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li:hover .sub-menu {
  display: block;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  z-index: 99;
  min-width: 180px;
  text-transform: uppercase;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li {
  display: block;
  margin: 0;
  padding: 7px 20px;
  font-size: 16px;
  line-height: 20px;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li:first-child {
  margin-top: 10px;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li:last-child {
  margin-bottom: 10px;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li:hover .sub-menu {
  display: block;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li .sub-menu {
  left: 100%;
  top: 0;
  display: none;
  margin: 0;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li .sub-menu::before {
  display: none;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li .sub-menu li a {
  color: inherit;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li.current-menu-item a:before {
  background: #181818;
  width: 100%;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a {
  color: inherit;
  position: relative;
  display: inline-block;
  padding: 0 5px;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:before,
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  top: 50%;
  background: #181818;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:before {
  left: -2.5px;
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:after {
  right: 2.5px;
  background: #181818;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:hover:before {
  background: #181818;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.ale_header_brigitte .search_container {
  display: inline-block;
}
.ale_header_brigitte .search_container .pop_search_form_container {
  display: none;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ale_header_brigitte .search_container .pop_search_form_container #searchsubmit {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 170px;
  width: 10%;
  border: 0;
  padding: 0;
  float: left;
  color: #363636;
  transition: all 300ms ease-in-out;
  background: transparent;
  margin: 0;
}
.ale_header_brigitte .search_container .pop_search_form_container #searchsubmit:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #363636;
  transition: all 300ms ease-in-out;
}
.ale_header_brigitte .search_container .pop_search_form_container .searchinput {
  width: 80%;
  height: 170px;
  border: 0;
  box-sizing: border-box;
  float: left;
  background: #FFF;
  color: #6c6c6c;
  font-size: 20px;
  padding-left: 60px;
}
.ale_header_brigitte .search_container .pop_search_form_container .searchinput::-webkit-input-placeholder {
  color: #6c6c6c;
  font-size: 20px;
}
.ale_header_brigitte .search_container .pop_search_form_container .searchinput:-moz-placeholder {
  color: #6c6c6c;
  font-size: 20px;
}
.ale_header_brigitte .search_container .pop_search_form_container .searchinput::-moz-placeholder {
  color: #6c6c6c;
  font-size: 20px;
}
.ale_header_brigitte .search_container .pop_search_form_container .searchinput:-ms-input-placeholder {
  color: #6c6c6c;
  font-size: 20px;
}
.ale_header_brigitte .search_container .pop_search_form_container .close_the_form {
  display: block;
  width: 10%;
  float: left;
  color: #363636;
  height: 170px;
  text-align: center;
  cursor: pointer;
  line-height: 170px;
  transition: all 300ms ease-in-out;
}
.ale_header_brigitte .search_container .pop_search_form_container .close_the_form:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #363636;
  transition: all 300ms ease-in-out;
}
.ale_header_brigitte .search_container .search_open_button {
  margin-left: 10px;
  color: #363636;
  cursor: pointer;
}
.ale_header_brigitte .search_container .search_open_button:hover {
  color: #6c6c6c;
  transition: all 300ms ease-in-out;
}
p {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.1em;
  color: inherit;
}
footer.footer_viaje .bottom_footer {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer.footer_viaje .bottom_footer .footer_social {
  order: 1;
  margin-bottom: 30px;
}
footer.footer_viaje .bottom_footer .footer_social a {
  padding: 0 20px;
  font-size: 20px;
  border-left: 1px solid #181818;
  color: #181818;
  transition: all 300ms ease-in-out;
}
footer.footer_viaje .bottom_footer .footer_social a:hover {
  color: #6c6c6c;
  transition: all 300ms ease-in-out;
}
footer.footer_viaje .bottom_footer .footer_social a:first-child {
  border-left: 0;
}
footer.footer_viaje .bottom_footer p {
  order: 2;
  font-family: "Lato";
}
.olins_simple_form .module_line {
  text-align: left;
}
.olins_simple_form .module_line input[type="text"],
.olins_simple_form .module_line input[type="email"] {
  width: 100%;
  margin-right: 0;
}
.olins_simple_form .module_line input[type="text"] {
  margin-bottom: 20px;
}
textarea {
  border: 0;
  border-bottom: 1px solid #181818;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100px;
  font-size: 14px;
  color: #181818;
  line-height: 24px;
  vertical-align: top;
}
textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #181818;
}
textarea:-moz-placeholder {
  font-size: 14px;
  color: #181818;
}
textarea::-moz-placeholder {
  font-size: 14px;
  color: #181818;
}
textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #181818;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  border: 0;
  border-bottom: 1px solid #181818;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 44px;
  font-size: 14px;
  color: #181818;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  font-size: 14px;
  color: #181818;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder {
  font-size: 14px;
  color: #181818;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  font-size: 14px;
  color: #181818;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  font-size: 14px;
  color: #181818;
}
input[type="submit"] {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #181818;
  font-weight: 400;
  background: none;
  border: 2px solid #181818;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
}
input[type="submit"]:hover {
  background: #181818;
  border: 2px solid #181818;
}
.ale_blog_archive article.post .post_content_holder .post_title,
.ale_blog_archive .grid-item .post_content_holder .post_title,
.ale_blog_archive article.post .post_content_holder .post_category,
.ale_blog_archive .grid-item .post_content_holder .post_category {
  letter-spacing: 0.15em;
}
.ale_blog_archive article.post .post_content_holder,
.ale_blog_archive .grid-item .post_content_holder {
  padding-left: 0;
  padding-right: 0;
}
.grid.ale_blog_columns_2 .gutter-sizer {
  width: 5.2%;
}
.grid.ale_blog_columns_2 .grid-sizer,
.grid.ale_blog_columns_2 .grid-item {
  width: 47.4%;
}
.related_posts_box h3.related_title {
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
}
.works_items_container .hover_title_category h2.work_title {
  font-size: 14px;
  color: #181818;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 14px;
  margin-bottom: 15px;
}
.works_items_container .hover_title_category span.category {
  color: #6c6c6c;
  font-size: 14px;
  letter-spacing: 0.15em;
}
@media (max-width: 1050px) {
  .ale_header_brigitte .header_flex_box nav.header_nav ul.menu-header li {
    margin: 0 10px;
    font-size: 14px;
  }
  .ale_header_brigitte .header_flex_box {
    padding: 0 40px;
  }
}
@media (max-width: 780px) {
  .ale_header_brigitte .header_flex_box nav.header_nav {
    display: none;
  }
  .ale_header_brigitte .mobilemenu {
    display: inline-block;
  }
  .vc_column-inner.vc_custom_1491989215785 {
    padding-left: 0!important;
  }
  .ale_main_container .ale_container .left_title_with_breadcrumbs .item_with_title {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .ale_header_brigitte .header_flex_box {
    flex-direction: column;
    justify-content: center;
  }
  .ale_header_brigitte .header_flex_box .logo_container {
    margin-bottom: 30px;
  }
  .grid.ale_blog_columns_2 .grid-sizer,
  .grid.ale_blog_columns_2 .grid-item {
    width: 100%;
  }
}
