.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  margin-top: 20px;
  margin-bottom: 40px;
}
.grid.ale_blog_columns_4 .gutter-sizer {
  width: 2%;
}
.grid.ale_blog_columns_4 .grid-sizer,
.grid.ale_blog_columns_4 .grid-item {
  width: 23.5%;
}
.shop_grid_delizioso .delizioso-item {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
  padding: 25px 20px;
  box-sizing: border-box;
  margin-bottom: 20px!important;
  transition: all 300ms ease-in-out;
  text-align: left;
}
.shop_grid_delizioso .delizioso-item:hover {
  box-shadow: 0 21px 40px rgba(0, 0, 0, 0.26);
  transition: all 300ms ease-in-out;
}
.shop_grid_delizioso .delizioso-item h2.woocommerce-loop-product__title {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 4px;
  transition: all 300ms ease-in-out;
}
.shop_grid_delizioso .delizioso-item h2.woocommerce-loop-product__title:hover {
  color: #ae2f42;
  transition: all 300ms ease-in-out;
}
.shop_grid_delizioso .delizioso-item .star-rating {
  font-size: 12px;
  color: #ffc473;
}
.shop_grid_delizioso .delizioso-item .woo_category {
  margin-top: 10px;
  font-size: 14px;
  color: #646464;
  font-weight: 300;
  margin-bottom: 20px;
}
.shop_grid_delizioso .delizioso-item .woo_category a {
  color: inherit;
}
.shop_grid_delizioso .delizioso-item .bottom_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop_grid_delizioso .delizioso-item .bottom_price .price {
  margin-bottom: 0;
  font-weight: 600;
}
.shop_grid_delizioso .delizioso-item .bottom_price .price .amount {
  font-weight: inherit;
}
.shop_grid_delizioso .delizioso-item .woocommerce-Price-currencySymbol {
  font-size: 12px;
}
.woocommerce .star-rating::before {
  color: #ffc473;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  border: 0;
  background: #aa3046;
  text-transform: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 12px 37px;
  border-radius: 3px;
  background: linear-gradient(0deg, #aa3046 0%, #e34c63 100%);
  transition: all 300ms ease-in-out;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background: linear-gradient(0deg, #370909 0%, #570813 100%);
  transition: all 300ms ease-in-out;
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  padding: 12px 37px;
  color: #FFF;
}
.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
  color: #FFF;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  font-size: 14px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #FFF !important;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-color: #ffc473;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: #ffc473;
}
.ale_single_product_page h1.product_title {
  margin-bottom: 4px;
}
.woocommerce-product-rating {
  margin-bottom: 10px!important;
}
.woocommerce-product-rating .star-rating {
  font-size: 14px;
  color: #ffc473;
}
.woocommerce-product-rating .woocommerce-review-link {
  font-size: 14px;
  color: #ae2f42;
}
.woocommerce-product-rating .woocommerce-review-link:hover {
  color: #000;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  font-weight: 600;
  font-size: 18px;
}
.woocommerce div.product p.price .amount,
.woocommerce div.product span.price .amount {
  font-weight: inherit;
}
.woocommerce div.product p.price .woocommerce-Price-currencySymbol,
.woocommerce div.product span.price .woocommerce-Price-currencySymbol {
  font-size: 12px;
}
.woocommerce .quantity .qty,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border-bottom-width: 1px;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border-bottom-width: 1px;
  font-family: inherit;
}
.ale_single_product_page .product_meta {
  font-size: 14px;
  color: inherit;
}
.ale_single_product_page .product_meta a {
  color: #ae2f42;
}
.ale_single_product_page .product_meta a:hover {
  color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-color: #ffc473;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: #ffc473;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #333;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-left: 5px;
}
.comment_container .star-rating {
  font-size: 12px;
  color: #ffc473;
}
.comment-respond #commentform {
  padding-left: 50px;
}
#review_form label {
  font-size: 14px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  background-color: #ffc473;
  border: 0;
  border-radius: 100%;
}
.select2-container--default .select2-selection--single {
  border-bottom-width: 1px;
}
.woocommerce-checkout-review-order {
  margin-bottom: 20px;
}
@media (max-width: 870px) {
  .grid.ale_blog_columns_5 .gutter-sizer,
  .grid.ale_blog_columns_4 .gutter-sizer {
    width: 2%;
  }
  .grid.ale_blog_columns_5 .grid-sizer,
  .grid.ale_blog_columns_5 .grid-item,
  .grid.ale_blog_columns_4 .grid-sizer,
  .grid.ale_blog_columns_4 .grid-item {
    width: 49%;
    float: none;
  }
}
@media (max-width: 630px) {
  .grid.ale_blog_columns_4 .grid-item {
    width: 100%;
    float: none;
  }
  .grid.ale_blog_columns_4 .gutter-sizer {
    width: 0;
  }
}
