/* Fashion Grid Style */
/* ================== */
.products .fashion-item {
  box-sizing: border-box;
  text-align: left;
}
.products .fashion-item .woocommerce-loop-product__title {
  font-size: 16px;
  color: #1f1f20;
  text-transform: uppercase;
  line-height: 16px;
  margin: 35px 0 15px 0;
}
.products .fashion-item a,
.products .fashion-item .woocommerce-loop-product__title {
  color: inherit;
  transition: all 300ms ease-in-out;
}
.products .fashion-item a:hover,
.products .fashion-item .woocommerce-loop-product__title:hover {
  opacity: 0.6 !important;
  transition: all 300ms ease-in-out;
}
.products .fashion-item .price {
  text-align: left;
}
.products .fashion-item .price .amount {
  font-weight: 400;
  font-size: 16px;
  color: #6e6e6e;
  letter-spacing: 0.25em;
}
.products .fashion-item span.onsale {
  font-weight: 400;
}
.woocommerce .fashion-item-style .related > h2,
.woocommerce .fashion-item-style .up-sells > h2 {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 400;
  color: #1f1f20;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 70px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.woocommerce .fashion-item-style .related > h2::after,
.woocommerce .fashion-item-style .up-sells > h2::after {
  content: '';
  height: 1px;
  display: block;
  border-bottom: 1px solid #efebe9;
  flex-grow: 1;
  margin-left: 45px;
}
.woocommerce .fashion-item-style .related .grid-item,
.woocommerce .fashion-item-style .up-sells .grid-item {
  margin-bottom: 10px;
}
.woocommerce .fashion-item-style h2 {
  font-weight: 400;
}
.woocommerce .fashion-item-style div.product .product_title {
  font-size: 16px;
  color: #1f1f20;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.woocommerce .fashion-item-style div.product .price {
  margin-bottom: 35px;
}
.woocommerce .fashion-item-style div.product .price .amount {
  font-weight: 400;
  font-size: 16px;
  color: #6e6e6e;
  letter-spacing: 0.25em;
}
.woocommerce .fashion-item-style div.product .price del .amount {
  font-size: 12px;
}
.fashion-item-style .ale_single_product_page .product_meta {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Old Standard TT';
  line-height: 32px;
}
.fashion-item-style .ale_single_product_page .product_meta .sku,
.fashion-item-style .ale_single_product_page .product_meta a {
  text-transform: none;
  font-style: italic;
  font-family: 'PT Sans';
  color: #6e6e6e;
}
.fashion-item-style .ale_single_product_page .product_meta a:hover {
  opacity: 0.7;
}
.fashion-item-style .woocommerce-product-details__short-description p {
  margin-bottom: 50px;
}
.woocommerce .fashion-item-style .quantity .qty,
.fashion-item-style .quantity .qty,
#add_payment_method .fashion-item-style table.cart td.actions .coupon .input-text,
.woocommerce-cart.fashion-item-style table.cart td.actions .coupon .input-text,
.woocommerce-checkout.fashion-item-style table.cart td.actions .coupon .input-text {
  border-bottom-width: 1px;
  font-size: 16px;
  font-family: 'Old Standard TT';
  padding: 12px 0 12px 12px;
}
.woocommerce .fashion-item-style #respond input#submit,
.woocommerce .fashion-item-style a.button,
.woocommerce .fashion-item-style button.button,
.woocommerce .fashion-item-style input.button,
.fashion-item-style #respond input#submit,
.fashion-item-style a.button,
.fashion-item-style button.button,
.fashion-item-style input.button {
  border: 0;
  background: #efebe9;
  min-height: 46px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #1f1f20;
  letter-spacing: 0.1em;
  font-family: 'Old Standard TT';
  padding: 1em 1.6em;
}
.fashion-item-style a.button {
  padding-top: 0!important;
  padding-bottom: 0!important;
  line-height: 46px;
  background: #efebe9 !important;
}
.fashion-item-style a.button:hover {
  background-color: #1f1f20 !important;
  color: #efebe9 !important;
}
.fashion-item-style .woocommerce table.shop_table td {
  padding: 12px;
}
.fashion-item-style .coupon .input-text {
  width: 140px!important;
}
.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 10px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
  width: calc(25% - 7.5px);
  margin-right: 10px;
  margin-bottom: 10px;
}
.woocommerce div.product div.images .flex-control-thumbs li:nth-child(4n+4) {
  margin-right: 0;
}
.fashion-item-style .accordion-item-active .accordion-header {
  background: #efebe9;
  border-radius: 0;
  color: #1f1f23;
  font-size: 12px;
  text-transform: uppercase;
}
.fashion-item-style .accordion-header-icon {
  display: none;
}
.fashion-item-style .accordion-header {
  min-height: 40px;
  line-height: 40px;
  background: #efebe9;
  text-align: center;
}
.fashion-item-style .accordion-header h1 {
  line-height: 40px;
  color: #1f1f23;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  float: none;
}
.fashion-item-style .accordion-content {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.fashion-item-style .accordion-content p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 20px;
}
.select2-container--default .select2-selection--single {
  border-bottom-width: 1px;
}
